@import 'general.sass'

#picDiv
  width: 50%

body
  background-color: $color-shared-background

#aboutDiv
  background-color: $color-medium-tan
  color: $color-primary
  font-family: $banner-font

#block
  background-color: $color-primary
  color: $color-primary

#aboutHeader
  font-family: $banner-font !important

#aboutUpperImg
  max-height: 500px !important

#aboutLowerImg
  max-width: 400px

#aboutBannerDiv
  background-color: $color-medium-tan
  color: $color-primary
  font-family: $banner-font
  box-shadow: $box-shadow-standard

#aboutLowerImg, #aboutUpperImg
  box-shadow: $box-shadow-standard

// #historyDiv
//   background-color: $color-background-vendors

#historyImg
  max-height: 500px !important
  box-shadow: $box-shadow-standard

#historyHeader
  font-family: $banner-font
  background-color: $color-medium-tan
