body {
    background-color: #e9e1d9;
}

#aboutPageTitle {
    height: 80px;
    font-size: 5em;
}

#aboutDiv {
    background-color: #E3C6B5;
    color: #544343;
    height: 10vh;
    font-family: "Brush Script MT";
}

@media (max-width: 990px) {
    #aboutPageTitle {
        height: 40px;
        font-size: 3em;
    }
}