body {
  background-color: #e9e1d9;
}

#aboutDiv {
  background-color: #e3c6b5;
  color: #544343;

  font-family: "Brush Script MT";
}

#block {
  background-color: #62b7d9;
  color: #544343;
}

#picDiv {
  width: 50%;
}