@import 'general.sass'

#picDiv
  width: 50%

body
  background-color: $color-background-body

#aboutDiv
  background-color: $color-background-about
  color: $color-text-about
  font-family: $banner-font

#block
  background-color: $color-background-block
  color: $color-text-about

#aboutHeader
  font-family: $banner-font !important

#aboutUpperImg
  max-height: 500px !important

#aboutLowerImg
  max-width: 400px

#aboutBannerDiv
  background-color: $color-background-upper-div
  color: $color-text-upper-div
  font-family: $banner-font
