// Sass Variables

$color-white: white !important
$color-primary: #7292bf !important
$color-link: #62b7d9 !important
$color-background-upper-div: #e3c6b5 !important
$color-text-upper-div: #544343 !important
$color-background-iframe: rgba(0, 0, 0, 0.2) !important
$color-shared-background: #e9e1d9 !important
$color-background-icon-container: #e0d2c3 !important
$color-border-icon-container: #cfc2b4 !important
$color-background-body: #e9e1d9 !important
$color-background-about: #e3c6b5!important
$color-text-about: #544343!important
$color-background-block: #62b7d9 !important
$color-background-vendors: #e3c6b5
$color-text-vendors: #544343 !important

$height-full-map: 50vh
$width-full-map: 60vw
$min-width-full-map: 60vh
$max-width-full-map: 100px

$height-mobile-map: 30vh
$width-mobile-map: 60vw
$min-width-mobile-map: 350px
$min-height-mobile-map: 400px

$min-height-icon-container: 260px
$min-width-icon-container: 215px

$banner-font: "Brush Script MT"
$body-font: "Poppins"

#toast-container
    background-color: $color-background-vendors

h2, h3, h4, h5, p, span, small, strong, btn
    font-family: $body-font
    font-weight: 300
